<p>
  <label><%= I18n.t(:setting_wiki_sidebar_mode) %></label>
  <%= select_tag 'settings[sidebar_mode]', 
      options_for_select([
        [l(:label_subnav_disabled), 'none'], 
        [l(:label_subnav_wiki), 'wiki'], 
        [l(:label_subnav_project_wiki), 'project_wiki']
      ], @settings['sidebar_mode']) %>
</p>

<p>
  <label><%= I18n.t(:label_subnav_header_max_depth) %></label>
  <%= select_tag 'settings[header_max_depth]', 
      options_for_select((1..5).to_a, @settings['header_max_depth'].to_i) %>
</p>
